body {
    font-family: 'Lato', sans-serif;
    color: #676858;
    font-weight: 300;
}

.container {
    margin-bottom: 20px;
}

#app-list img {
    height: 200px;
    width: 400px;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
    width: 80px;
}